* {
	font-family: 'Courier New', Courier, monospace;
}

.canva {
	width: 500px;
	height: 500px;
	margin: auto;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0;
	flex-wrap: wrap;
	border: 1px solid grey;
}

.square {
	box-sizing: border-box;
}

header {
	text-align: center;
}


/* Switches */
